/* Default styles for all screen sizes */
.navbar-brand {
  margin-left: 1%;
}
.container{
    margin: 2rem auto;
}
.progress-bar-vertical {
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.card-deck {
  display: flex;
  flex-flow: row wrap;
}

.card-deck .card {
  display: flex;
  flex: 49%;
  flex-direction: column;
  margin: 0.5%;
}

.current_place {
  margin-left: auto;
  margin-right: auto;
}

#historyChart {
  height: 5vh;
}

/* Media query for screens up to 768px wide */
@media screen and (max-width: 768px) {
  .card-deck .card {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
}

/* Media query for screens up to 992px wide */
@media screen and (max-width: 992px) {
  .card-deck .card {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
  .progress-bar-vertical {
    height: 10rem;
  }
}

/* Media query for screens up to 1200px wide */
@media screen and (max-width: 1200px) {
  .progress-bar-vertical {
    height: 12rem;
  }
}
