<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('navbar', { user: null }); %>
    <main>
      <!--  REGISTER -->
      <div id="Register" class="pricing-tables">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="section-heading">
                <h4>Register</h4>
                <img src="assets/images/heading-line-dec.png" alt="" />
                <p>Register</p>
              </div>
            </div>
            <div class="col-lg-6 offset-lg-3">
              <div class="formbold-main-wrapper">
                <!-- Author: FormBold Team -->
                <!-- Learn More: https://formbold.com -->
                <div class="formbold-form-wrapper">
                  <form action="/register" method="POST">
                    <div class="formbold-mb-5">
                      <label for="username" class="formbold-form-label">
                        Username:
                      </label>
                      <input
                        type="text"
                        id="username"
                        name="username"
                        required
                        class="formbold-form-input"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label for="age" class="formbold-form-label"> age </label>
                      <input
                        type="text"
                        id="age"
                        name="age"
                        required
                        class="formbold-form-input"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label for="height" class="formbold-form-label">
                        Height
                      </label>
                      <input
                        type="text"
                        id="height"
                        name="height"
                        required
                        class="formbold-form-input"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label for="weight" class="formbold-form-label">
                        Weight
                      </label>
                      <input
                        type="text"
                        id="weight"
                        name="weight"
                        required
                        class="formbold-form-input"
                      />
                    </div>

                    <div class="formbold-mb-5">
                      <label for="register-email" class="formbold-form-label">
                        Email:
                      </label>
                      <input
                        type="email"
                        id="register-email"
                        name="email"
                        required
                        class="formbold-form-input"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label
                        for="register-password"
                        class="formbold-form-label"
                      >
                        Password:
                      </label>
                      <input
                        type="password"
                        id="register-password"
                        name="password"
                        required
                        class="formbold-form-input"
                      />
                    </div>

                    <div>
                      <button type="submit" class="formbold-btn">
                        Register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
