.logout-btn {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  background: rgb(141, 60, 60);
  color: #fff;
  outline: none;
  border: none;
  margin: 0 10px;
}
.logout-btn:hover {
  background-color: #555;
}
